body
{
  text-align:center;
  /* background-color:black; */
  background-image: url("https://wallpapers.com/images/hd/dark-purple-aesthetic-pictures-a7n8iwnaq3mjrta7.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
fieldset
{
  height: 300px;
  width: 200px;
  margin:0 auto;
  margin-top:100px;
}
.input_div
{
  margin:40px;
  /* color:white; */
}
input
  {
    height:20px;
  }
button{
  height:25px !important;
  padding:25px 20px;
  margin:30px;
}
a{
  font-size:13px;
  color:purple;
  text-decoration: underline;
  font-weight:normal;
}
img{
  opacity:0.7;
  padding-top:20px;
}