table
{
    margin-top: 50px;
    border-width: thin;
    text-align: center;
    border-collapse: collapse;
    border: solid black;
}
td,th
{
  padding: 15px;
  border: solid black;
}
th
{
    background-color: #CBC3E3; 
}